<main>
    {{!-- make content horizantally centered --}}
    <div class="container center-align">
        <div class="burger-photo-section">
            <img src="assets/img/burger-stock.jpg" alt="Huge Burger" class="circle" id="huge-burger">
        </div>
        {{!-- app title --}}
        <h2>Eat Dat Burger!</h2>

        {{!-- section to display burgers --}}
        <div class="row">
            {{!-- newly added burgers --}}
            <div class="col s6">
                <ul>
                    {{!-- #each will iterate over the array of objects burgersCollected --}}
                    {{#each burgersCollected}}
                    {{!-- if the burgers have NOT been devoured already, then display them --}}
                    {{#unless devoured}}
                    <li>
                        {{this.id}}. {{this.burger_name}}

                        {{!-- <a href="/api/burgers/{{this.id}}" class="waves-effect waves-light btn-small"><i class="material-icons left">fastfood</i>devour
                            it!</a> --}}

                        {{!-- <form action="/burgers/api/{{this.id}}" method="GET"> --}}

                        <button id="devour-button" class="btn-small waves-effect waves-light" type="submit" name="action" data-id="{{this.id}}">Devour It!
                            <i class="material-icons left">fastfood</i>
                        </button>
                        
                        {{!-- </form> --}}
                        
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>

            </div>

            {{!-- devoured burgers --}}
            <div class="col s6">
                <ul>
                    {{!-- #each will iterate over the array of objects burgersCollected --}}
                    {{#each burgersCollected}}
                    {{!-- if the burgers have been devoured already, then display them --}}
                    {{#if devoured}}
                    <li>{{this.id}}. {{this.burger_name}}</li>
                    {{/if}}
                    {{/each}}
                </ul>

            </div>
        </div>

        {{!-- burger entry form --}}
        <div class="row">
            <form class="col s12" method="POST" action="/api/burgers">
                <div class="row">
                    <div class="input-field col s6 offset-s3">
                        <i class="material-icons prefix">mode_edit</i>
                        <input id="icon_prefix" type="text" class="validate" name="burger_name" required>
                        <label for="icon_prefix">Add A Burger</label>
                    </div>
                </div>
                {{!-- submit button --}}
                <button class="btn-large waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>

            </form>
        </div>




    </div>
</main>